
			<section class="login-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<%= form_tag sessions_path, class: 'md-float-material form-material' do |form| %>
								<div class="text-center">
								<img class="img-fluid" src="/assets/logoMS.png" alt="Responsive image" />
								</div>
								<div class="auth-box card">
									<div class="card-block">
										<div class="row m-b-20">
											<div class="col-md-12">
											<h3 class="text-center txt-primary">Iniciar sesi칩n</h3>
											</div>
										</div>

										<!-- <p class="text-muted text-center p-b-5">Inicio de sesi칩n para ingresar al sistema</p> -->
										<div class="form-group form-primary">
											<input type="text" id="username"  name="username" class="form-control" required="">
											<span class="form-bar"></span>
											<label class="float-label">Nombre de usuario</label>
										</div>
										<div class="form-group form-primary">
										<input type="password" name="password" class="form-control" required="">
										<span class="form-bar"></span>
										<label class="float-label">Contrase침a</label>
										</div>
										<div class="row m-t-30">
											<div class="col-md-12">
												<%= submit_tag "Iniciar sesi칩n", class: 'btn btn-primary btn-md btn-block waves-effect text-center m-b-20' %>
												<!-- <button type="button" class="">LOGIN</button> -->
											</div>
										</div>
										<!-- <p class="text-inverse text-left">Necesitas una cuenta ?<a href="auth-sign-up-social.html"> <b>Click aqui </b></a>para pedirla.</p> -->
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</section>
