<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Ticket registrado con exito</h2>

    <% if params[:email].nil? %>
    <p>si nil</p>
    <% else %>
    <p>no nil</p>
    <% end %>
  </body>
</html>

