<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      table.blueTable {
        border: 0px solid #0062A4;
        background-color: #EEEEEE;
        width: 80%;
        text-align: left;
        border-collapse: collapse;
      }
      table.blueTable td, table.blueTable th {
        border: 1px solid #AAAAAA;
        padding: 3px 2px;
      }
      table.blueTable tbody td {
        font-size: 13px;
      }

      table.blueTable thead {
        background: #265CA4;
        border-bottom: 2px solid #444444;
      }
      table.blueTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
      }

      table.blueTable th {
        background: #265CA4;
        border-bottom: 2px solid #444444;
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
      }

    </style>
  </head>
  <body>
    <h2>Ticket registrado con exito</h2>

    <table class="blueTable">
      <tbody>
        <tr>
          <th style="width:10%">Ticket #</th>
          <td style="width:90%"><%= @ticket.id  %></td>
        </tr>
        <tr>
          <th style="width:10%">Asunto</th>
          <td style="width:90%"><%= @ticket.title  %></td>
        </tr>
        <tr>
          <th style="width:10%">Detalle</th>
          <td style="width:90%"><%= @ticket.detail  %></td>
        </tr>
      </tbody>
    </table>

  </body>
</html>

