$("#modal-client").html("<%= j (render 'modal_edit_client') %>")
$("#modal-client").modal('show')

var form_edit_client = $('#form-client')
$('#client_client_type_id').select2({ width: '90%',theme: "bootstrap4" })
$('#client_iva_condition_id').select2({ width: '90%',theme: "bootstrap4" })
$('#client_sale_condition_id').select2({ width: '90%',theme: "bootstrap4" })


form_edit_client.validate({
	rules: {
		'client[name]': {
			required: true,
			// Using the normalizer to trim the value of the element
			// before validating it.
			//
			// The value of `this` inside the `normalizer` is the corresponding
			// DOMElement. In this example, `this` references the `username` element.
			normalizer: function(value) {
				return $.trim(value);
			}
		},
		'client[location]': {
			required: true
		},
		'client[type_client]': {
			required: true
		},
		'client[cuit]': {
			number: true
		}
	}
})

$("#form-client").on("ajax:success", function(event) {
    clients_table.ajax.reload(null,false)
    noty_alert('success', 'Datos actualizados')
    $("#modal-client").modal('hide')
  }).on("ajax:error", function(event) {
  // $('#form-client #error_list').empty().delay( 8000 )
  $('#form-client #error_explanation').hide(500)
  $('#form-client #error_list').empty()
	var msj = jQuery.parseJSON( event.detail[2].response )
	console.log(msj)
	$.each( msj, function( key, value ) {
	  $('#form-client #error_list').append('<li> ' + key + ": " + value + ' </li>')
	})
	$('#form-client #error_explanation').show('slow')
})