<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <i class="ti-user bg-c-blue"></i>
        <div class="d-inline">
          <h5>Clientes registrados en el sistema</h5>
        <span>Descripcion de la vista</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class=" breadcrumb breadcrumb-title">
          <li class="breadcrumb-item">
            <%= link_to '<i class="ti-home"></i>'.html_safe, root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to 'Clientes', clients_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pcoded-inner-content">
  <div class="main-body">
    <div class="page-wrapper">
      <div class="page-body">
        <div class="card">
          <div class="card-header">
            <%= link_to 'Nuevo cliente', new_client_path, {:remote => true, 'data-toggle' =>  "modal",
                                                           'data-target' => '#modal-client', 'class' => 'btn btn-primary'} %>
            <%= link_to 'Exportar a excel', clients_path(format: :xlsx), :class => 'btn btn-info' %>
          </div>
          <div class="card-block">
            <div class="table-responsive dt-responsive">
              <table id="clients_table" class="table table-striped table-bordered nowrap w-100">
                <thead>
                  <tr>
                    <th>Nombre/Razón social</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                 <tbody> <!-- Ajax --> </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="modal-client" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> </div> -->
<!-- Modal para alta y edicion de usuario -->
<div class="modal" id="modal-client" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->

<!-- Modal para eliminar cliente -->
<div class="modal fade" id="modal_delete_client" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de eliminar este cliente ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="disabled_client" method="POST" data-remote="true" id="form_disable_client">
          <p id="client_name_delete"><b>Nombre: </b> </p>
          <input type="hidden" id="client_id" name="client[id]" value="">
          <button type="submit" class="btn btn-danger g-mr-10">Eliminar</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary g-mr-10"> Cerrar </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar cliente -->



    



