<div class="card g-brd-cyan rounded-0">
    <h3 class="card-header g-bg-cyan g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
      <i class="fa fa-user"> <%= table[:title] %></i>
    </h3>
    <div class="card-block table-responsive g-pa-15">
      <table class="table table-hover w-100" id="<%= table[:id] %>">
        <thead>
          <tr>
            <th>Fecha: </th>
            <th>Tipo</th>
            <th>Empresa</th>
            <th> Encargado </th>
            <th>Asunto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Ajax -->
        </tbody>
      </table>
    </div>
</div>