<div>
  <div class="row">
    <h2>Tickets</h2>
  </div>
  <%= link_to 'Registrar ticket', new_ticket_path, class: 'btn btn-primary' %>
</div>
 <br>

  <!-- Nav tabs -->
<ul class="nav justify-content-center u-nav-v5-1 u-nav-primary g-brd-bottom--md g-brd-gray-light-v4" role="tablist" data-target="nav-5-1-default-hor-left-border-bottom-icons" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#sin_asignar" role="tab">
      <i class="icon-christmas-037 u-tab-line-icon-pro g-mr-3"></i>
      Sin asignar
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#proceso" role="tab">
      <i class="icon-communication-025 u-tab-line-icon-pro g-mr-3"></i>
      En proceso
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#finalizados" role="tab">
      <i class="icon-communication-017 u-tab-line-icon-pro g-mr-3"></i>
      Finalizados
    </a>
  </li>
</ul>
<!-- End Nav tabs -->



<br>

<div class="modal fade" id="modal-ticket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> </div>



<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="ticket_id" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal finalizar ticket -->
  <div class="modal fade" id="modal_close_ticket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirmaci&oacute;n</h4>
        </div>
        <div class="modal-body">
          Esta seguro de finalizar el ticket?
        </div>
        <input type="hidden" id="close_ticket_id" name="close_ticket_id" value=""/>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn_cerrar" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn_destroy_ticket btn btn-primary"> finalizar</button>
          <!-- <a id="finalizarTickets" type="button" class="btn btn-primary">Finalizar</a> -->
        </div>
      </div>
    </div>
  </div>





<!-- Tab panes -->
<div id="tables" class="tab-content g-pt-20">
  <div class="tab-pane fade show active" id="sin_asignar" role="tabpanel">
    <%= render('table_tickets', table: @table_process)%>
  </div>
  <div class="tab-pane fade" id="proceso" role="tabpanel">
    <!-- table process -->
  </div>
  <div class="tab-pane fade" id="finalizados" role="tabpanel">
    <%= render('table_tickets', table: @table_closed)%>
  </div>
</div>
<!-- End Tab panes -->