var process_tickets_table
var closed_tickets_table
var open_tickets_table

// tablas vistas de clientes
var closed_tickets_client_table
var open_tickets_client_table

var form_new_ticket = $('#form-ticket')
var form_new_ticket_varios = $('#form-ticket-varios')


$('.close_ticket_btn').on('click', function(event) {
  // Le asignamos el id del ticket al modal
  console.log('click')
  $('#form-close-ticket #ticket_id').val( $(this).data('id') )
  console.log('id: ' + $(this).data('id'))
})

function modal_close_ticket(id)
{
  $('#form-close-ticket #close_message').val('')
  $('#form-close-ticket #id').val( id )
  $('#modal_close_ticket').modal('show')
}

function modal_asignar_ticket(id)
{
  $('#assigned_ticket_id').val( id )
  $('#modal_assigned_ticket').modal('show')
}



function count_tickets()
{
  $.ajax({
    url: 'count_tickets',
    type: 'GET',
    dataType: 'JSON',
    success: function( msg ) {
      // console.log(msg)
      $('#label-sin-asignar').text( msg['open'] )
      $('#label-process').text( msg['process'] )
      $('#label-closed').text( msg['closed'] )
      $('#label-process-client').text( msg['process'] + msg['open'] )
    },
    error: function( msg ) {
      // console.log( msg )
    }
  })
}



jQuery(document).ready(function($) {
  let btn_show_answer = true
  $('.select-ticket').select2({ width: '100%',theme: "bootstrap4" })
  count_tickets()
  // $('#form-ticket').validate({
  //   rules: {
  //     'ticket[client_id]': {
  //       required: true,
  //       // Using the normalizer to trim the value of the element
  //       // before validating it.
  //       //
  //       // The value of `this` inside the `normalizer` is the corresponding
  //       // DOMElement. In this example, `this` references the `username` element.
  //       normalizer: function(value) {
  //         return $.trim(value);
  //       }
  //     },
  //     'ticket[title]': {
  //       required: true
  //     },
  //     'ticket[type_ticket]': {
  //       required: true
  //     }
  //   }
  // })

form_new_ticket.validate({
  rules: {
    'ticket[client_id]': {
      required: true
    },
    'ticket[person_id]': {
      required: true
    },
    'ticket[fleet_id]': {
      required: true
    },
    'ticket[title]': {
      required: true
    }
  }
})


form_new_ticket_varios.validate({
  rules: {
    'ticket[client_id]': {
      required: true
    },
    'ticket[person_id]': {
      required: true
    },
    'ticket[title]': {
      required: true
    }
  }
})


  $("#form-ticket #ticket_client_id").on('change', function(event) {
    $.ajax({
      url: '/clients/' + $(this).val() + '/fleets',
      type: 'GET',
      dataType: 'JSON',
      success: function ( resp ) {
        $('#form-ticket #ticket_fleet_id').find('option').remove().end().append('<option value="" disabled selected>Seleccione un equipo</option>');
        $( resp.data ).each(function(i, element){
          console.log( element.code )
          $("#ticket_fleet_id").append("<option value="+element.id +">"+element.code +"</option>")
        })
      }
    })

    $.ajax({
      url: '/clients/' + $(this).val() + '/people',
      type: 'GET',
      dataType: 'JSON',
      success: function ( resp ) {
        $('#form-ticket #ticket_person_id').find('option').remove().end().append('<option value="" disabled selected>Solicito el servicio</option>');
        $( resp.data ).each(function(i, element){
          console.log( element.name )
          $("#form-ticket #ticket_person_id").append("<option value="+element.id +">"+element.name + " " + element.surname + "</option>")
        })
      }
    })
  }) // End on change

  $("#form-ticket-varios #ticket_client_id").on('change', function(event) {
    $.ajax({
      url: '/clients/' + $(this).val() + '/people',
      type: 'GET',
      dataType: 'JSON',
      success: function ( resp ) {
        $('#form-ticket-varios #ticket_person_id').find('option').remove().end().append('<option value="" disabled selected>Solicito el servicio</option>');
        $( resp.data ).each(function(i, element){
          console.log( element.name )
          $("#form-ticket-varios #ticket_person_id").append("<option value="+element.id +">"+element.name + " " + element.surname + "</option>")
        })
      }
    })
  }) // End on change


  $(".show_answer").on('click', function(event) {
    if( btn_show_answer ) {
      $('#answer').show("slow")
      btn_show_answer = false
    } else {
      $('#answer').hide(1000)
      btn_show_answer = true
    }
  })



  $('#asignar_ticket').on('click',function(event){
    $.ajax({
      url: 'assign_person',
      type: 'POST',
      data:{ id: $('#assigned_ticket_id').val( ) ,assigned_to: $('#ticket_assigned_to').val() },
      success: function( msg ) {
        process_tickets_table.ajax.reload(null,false)
        open_tickets_table.ajax.reload(null,false)
        count_tickets()
        $('#modal_assigned_ticket').modal('hide')
        noty_alert('success', 'Asignacion exitosa')
      }
    })
  })



  process_tickets_table = $('#process_tickets_table').DataTable({
                          'ajax':'tickets/get_tickets/2',
                          'responsive' : true,
                          'columns': [
                          {'data': 'id'},
                          {'data': 'date'},
                          {'data': 'type'},
                          {'data': 'client'},
                          {'data': 'assigned'},
                          {'data': 'title'},
                          {'data': 'actions'} ],
                          'language': { 'url': "/assets/dataTables/Spanish.json"} 
                        })

    closed_tickets_table = $('#closed_tickets_table').DataTable({
                          'ajax':'tickets/get_tickets/3',
                          'responsive' : true,
                          'columns': [
                          {'data': 'id'},
                          {'data': 'date'},
                          {'data': 'type'},
                          {'data': 'client'},
                          {'data': 'assigned'},
                          {'data': 'title'},
                          {'data': 'actions'} ],
                          'language': { 'url': "/assets/dataTables/Spanish.json"} 
                        })

    open_tickets_table = $('#open_tickets_table').DataTable({
                          'ajax':'tickets/get_tickets/1',
                          'responsive' : true,
                          'columns': [
                          {'data': 'id'},
                          {'data': 'date'},
                          {'data': 'type'},
                          {'data': 'client'},
                          {'data': 'assigned'},
                          {'data': 'title'},
                          {'data': 'actions'} ],
                          'language': { 'url': "/assets/dataTables/Spanish.json"} 
                        })

    closed_tickets_client_table = $('#closed_tickets_client_table').DataTable({
                          'ajax':'tickets/get_tickets/3',
                          'responsive' : true,
                          'columns': [
                          {'data': 'date'},
                          {'data': 'title'},
                          {'data': 'actions'} ],
                          'language': { 'url': "/assets/dataTables/Spanish.json"} 
                        })

    open_tickets_client_table = $('#process_tickets_client_table').DataTable({
                          'ajax':'tickets/get_tickets/1',
                          'responsive' : true,
                          'columns': [
                          {'data': 'date'},
                          {'data': 'title'},
                          {'data': 'actions'} ],
                          'language': { 'url': "/assets/dataTables/Spanish.json"} 
                        })

}) // End JQuery
