<!-- <div id="sidebar" class="users p-chat-user showChat">
  <div class="had-container">
      <div class="p-fixed users-main">
        <div class="user-box">
          <div class="chat-search-box">
            <a class="back_friendlist">
              <i class="feather icon-x"></i>
            </a>
            <div class="right-icon-control">
              <div class="input-group input-group-button">
                <input type="text" id="search-friends" name="footer-email" class="form-control" placeholder="Search Friend">
                <div class="input-group-append">
                  <button class="btn btn-primary waves-effect waves-light" type="button"><i class="feather icon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="main-friend-list">
            <div class="media userlist-box waves-effect waves-light" data-id="1" data-status="online" data-username="Josephin Doe">
              <a class="media-left" href="#!">
                <img class="media-object img-radius img-radius" src="/assets/isologo.png" alt="Generic placeholder image ">
                <div class="live-status bg-success"></div>
              </a>
              <div class="media-body">
                <div class="chat-header">Josephin Doe</div>
              </div>
            </div>
            <div class="media userlist-box waves-effect waves-light" data-id="2" data-status="online" data-username="Lary Doe">
              <a class="media-left" href="#!">
                <img class="media-object img-radius" src="../files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                <div class="live-status bg-success"></div>
              </a>
              <div class="media-body">
                <div class="f-13 chat-header">Lary Doe</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div> -->
<div class="pcoded-main-container">
<div class="pcoded-wrapper">

<nav class="pcoded-navbar">
  <div class="nav-list">
    <div class="pcoded-inner-navbar main-menu">
      <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-hasmenu">
          <%= link_to '<span class="pcoded-micon"><i class="ti-headphone-alt"></i></span>
                      <span class="pcoded-mtext">Tickets</span>'.html_safe, 
                      tickets_path, class: "waves-effect waves-dark" %>
        </li>
        <% if current_user.rol.name == "Administrador" %>
        <li class="pcoded-hasmenu">
          <%= link_to '<span class="pcoded-micon"><i class="ti-user"></i></span>
                      <span class="pcoded-mtext">Clientes</span>'.html_safe, 
                      clients_path, class: "waves-effect waves-dark" %>
        </li>
        <li class="pcoded-hasmenu">
          <%= link_to '<span class="pcoded-micon"><i class="ti-user"></i></span>
                      <span class="pcoded-mtext">Usuarios</span>'.html_safe, 
                      users_path, class: "waves-effect waves-dark" %>
        </li>
        <% end %>
<!--         <li class="pcoded-hasmenu">
          <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-headphone-alt"></i></span>
            <span class="pcoded-mtext">Tickets</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="">
              <a href="index.html" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Default</span>
              </a>
            </li>
            <li class="">
              <a href="dashboard-analytics.html" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Analytics</span>
                <span class="pcoded-badge label label-info ">NEW</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="pcoded-hasmenu">
          <a href="javascript:void(0)" class="waves-effect waves-dark">
           <span class="pcoded-micon"><i class="ti-user"></i></span>
            <span class="pcoded-mtext">Clientes</span>
            <span class="pcoded-badge label label-warning">NEW</span>
          </a>
          <ul class="pcoded-submenu">
            <li class=" pcoded-hasmenu">
              <a href="javascript:void(0)" class="waves-effect waves-dark">
                <span class="pcoded-mtext">Listar clientes</span>
              </a>
              <ul class="pcoded-submenu">
                <li class="">
                  <a href="menu-static.html" class="waves-effect waves-dark">
                    <span class="pcoded-mtext">Static Layout</span>
                  </a>
                </li>
                <li class="">
                  <a href="menu-header-fixed.html" class="waves-effect waves-dark">
                   <span class="pcoded-mtext">Header Fixed</span>
                  </a>
                </li>
                <li class="">
                  <a href="menu-compact.html" class="waves-effect waves-dark">
                    <span class="pcoded-mtext">Compact</span>
                  </a>
                </li>
                <li class="">
                  <a href="menu-sidebar.html" class="waves-effect waves-dark">
                    <span class="pcoded-mtext">Sidebar Fixed</span>
                  </a>
                </li> -->
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>